<!DOCTYPE html>
<html>
<head>
 <!--  link to Css style -->
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

   

    <div class="header">
      <div class="Shop">
    
        <div class="logo">
          <img style="margin-left: px; width: 230px;"  src="/images/LogoDesign.png" >
        </div>
      
         <h1 style="text-align: center;" > Welcome to AUTHENTIC SNEAKERS
          <p style="text-align: center;">Personal Portfolio Website</p>
        </h1>
         
        
      </div>
      
    
    
    </div>
    
    <ul>
      <li><a class="active" href="/homepage">Home page</a></li>
      <li><a href="/aboutme">About Me</a></li>
      <li><a href="/project">Projects page</a></li>
      <li><a href="/service">Services page</a></li>
      <li><a href="/contact">Contact Me</a></li>
      
    </ul>
